group Core
    source https://api.nuget.org/v3/index.json
    source https://gitlab.com/api/v4/projects/28574921/packages/nuget/index.json
    strategy: min
    storage: none
    framework: net6.0

    nuget FSharp.Core >= 6 lowest_matching: true
    nuget FSharpMyExt >= 2.0.0-prerelease.3 lowest_matching: true
    nuget FUniversalParser >= 0.6.0 lowest_matching: true
    nuget Farkdown >= 0.5.0 lowest_matching: true
    nuget FMermaid.Core >= 0.2.0 lowest_matching: true
    nuget Qsp.FSharp.Core >= 0.1.0 lowest_matching: true

group Cli
    source https://api.nuget.org/v3/index.json
    source https://gitlab.com/api/v4/projects/28574921/packages/nuget/index.json
    strategy: min
    storage: none
    framework: net6.0

    nuget Argu >= 6.2.5 lowest_matching: true

    nuget FSharp.Core >= 6 lowest_matching: true
    nuget FSharpMyExt >= 2.0.0-prerelease.3 lowest_matching: true
    nuget FUniversalParser >= 0.6.0 lowest_matching: true
    nuget Farkdown >= 0.5.0 lowest_matching: true
    nuget FMermaid.Core >= 0.2.0 lowest_matching: true
    nuget Qsp.FSharp.Core >= 0.1.0 lowest_matching: true

group Tests
    source https://api.nuget.org/v3/index.json
    source https://gitlab.com/api/v4/projects/28574921/packages/nuget/index.json
    strategy: min
    storage: none
    framework: net6.0

    nuget Expecto >= 9.0.4 lowest_matching: true

    nuget FSharp.Core >= 6 lowest_matching: true
    nuget FSharpMyExt >= 2.0.0-prerelease.3 lowest_matching: true
    nuget FUniversalParser >= 0.6.0 lowest_matching: true
    nuget Farkdown >= 0.5.0 lowest_matching: true
    nuget FMermaid.Core >= 0.2.0 lowest_matching: true
    nuget Qsp.FSharp.Core >= 0.1.0 lowest_matching: true
